.user_course{
  display: flex;
  margin-top: 0;
  justify-content: space-evenly;
  padding: 40px 20px 20px 20px;
  background-color: #fff;
  border-radius: 10px;
}

.back__container{
  margin-top: 3px;
  width: 35px;
  cursor: pointer;
  margin-right: 10px;
}

.back__container img {
  width: 25px;
}

.course-info__container{
  width: 350px;
}

.user_course h2{
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-weight: 400;
}

.user_course p{
  color: #a1a1a1;
}

.evaluation{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.evaluation span {
  color: #ee9a46;
  font-size: 1.2em;
}

.mentor-info{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mentor-info h4{
  font-weight: 500;
}

.lecture-description{
  width: 300px;
  margin-bottom: 20px;
  font-weight: lighter;
  text-align: start;
}

.lecture-player__container{
  width: 650px;
}

.homework{
  display: flex;
  margin-top: 20px;
}

.homework h3{
  font-weight: 400;
  margin-bottom: 10px;
}

.add-homework{
  margin-left: 50px;
  display: flex;
  margin-top: 30px;
}

.add-homework form{
  width: 100%;
}

.add-homework textarea{
  resize: none;
  padding: 10px 15px;
  width: calc(100% - 32px);
}

.no-courses__info{
  font-weight: inherit;
  text-align: center;
  display: flex;
}

.message-sentHomework{
  /*border: 1px #acacac solid;*/
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background: #ddecd8;
}



.course__container{
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
}

.course-info{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 15px;
}

.course-title{
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 27px;
}

.course-description{
  color: #a1a1a1;
  font-size: 19px;
  line-height: 30px;
}

.info{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.info h3{
  color: #a1a1a1;
  font-weight: 400;
  margin-right: 10px;
}

.info p{
  color: black;
  font-size: 18px;
}

.info-container{
  width: 300px;
  height: 80px;
  background-color: #eff1f8;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.info-container h3{
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 19px;
}

.info-container p{
  font-size: 24px;
  color: #5b69a9;
}

.programming-icon__container{
  width: 100%;
  height: 150px;
  background-color: #8691ca;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.programming-icon{
  width: 150px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(103%) contrast(101%);
  margin: auto;
}

.professor__icon{
  border-radius: 50%;
  background-color: #6675bc;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  border: 1px solid #fff;
}
