td, th {
  padding: 8px;
}

th {
  text-align: start;
  font-weight: 300;
  font-size: 14px;
  color: #acacac;
}

td { font-family: 'Avenir Next', 'Segoe UI', 'Lucida Grande', sans-serif; }

.table {
  margin-top: 20px;
  width: 100%;
  padding: 16px;
  text-align: start;
}


.course__icon{
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(4685%) hue-rotate(303deg) brightness(118%) contrast(100%);
  width: 34px;
  margin-left: 8px;
}

.star__icon{
  filter: brightness(0) saturate(100%) invert(78%) sepia(18%) saturate(4726%) hue-rotate(192deg) brightness(84%) contrast(86%);
  width: 15px;
  margin-right: 5px;
}

.course-info__content{
  display: flex;
  align-items: center;
}

.course-title__text{
  font-weight: 600;
  margin-bottom: 6px;
}

.author__text{
  font-size: 14px;
  font-weight: 300;
  color: #acacac;
}

.rate__text{
  color: #8691ca;
  display: flex;
  align-items: center;
}

.type__text{
  background: #f2f2fa;
  border-radius: 8px;
  padding: 8px 12px;
  display: inline-block;
}

.course-icon__content{
  border-radius: 20%;
  background-color: #6675bc;
  width: 50px;
  height: 50px;
  display: flex;
  margin-right: 10px;
  border: 1px solid #fff;
}


.table-button__content{
  color: #6675bc;
  font-weight: 400;
  cursor: pointer;
}

.table-button__content:hover{
  opacity: 0.7;
}

/*homework modal window*/
.modal__window__wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

.modal__window__wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.modal__window__homework {
  max-width: 700px;
  height: auto;
  margin: 80px auto;
  /*border: 1px #6675bc solid;*/
  border-radius: 20px;
  background-color: #fff;
  /*padding: 20px;*/
  position: relative;
  transform: scale(0.5);
  transition: .3s all;
}

.modal__window__homework.active {
  transform: scale(1);
}

.lecture__title {
  text-align: center;
  border-radius: 17px 17px 0 0;
  color: #fff;
  background-color: #6675bc;
  padding: 15px;
}

.homework__container{
  padding: 20px 20px 0 20px;
}

.message{

}

.author-message{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-message h4{
  font-size: 20px;
  font-weight: 600;
}

.author-message p{
  color: #acacac;
}

.box {
  height: auto;
  background-color: #e9e9e9;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
}

.box input{
  padding: 0 0 12px 0;
  margin: 10px 0;
}

.box h4{
  color: #6675bc;
  font-weight: 500;
  cursor: pointer;
}

.box h4:hover{
  opacity: 0.7;
}

.box.arrow-top {
  margin-top: 20px;
}
.box.arrow-top:after {
  content: " ";
  position: absolute;
  left: 15px;
  top: -15px;
  border-top: none;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 17px solid #e9e9e9;
}
