.navbar__wrapper {
    background: #fff;
}

.navbar__content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    text-align: left;
}

.icons__wrapper {
    display: flex;
    align-items: center;
    text-align: right;
    padding: 5px 0;
}

.cart-icon {
    display: flex;
    position: relative;
    justify-items: center;
}

.cart-items-counter {
    color: #FFFFFF;
    font-size: .8rem;
    position: absolute;
    background-color: rgba(255, 99, 71, 0.8);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
}


