.navbar__wrapper {
    background: #4d6243;
}

.navbar__content_wrapper {
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
    text-align: left;
}

.icons__wrapper {
    display: flex;
    align-items: center;
    text-align: right;
    padding: 5px 0;
}


