.shopping__cart {
  width: 800px;
  height: 100%;
  margin: 50px auto 50px;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.10);
  border: 2px #6675bc solid;
  border-radius: 30px;
}

.shopping__cart__header {
  margin: 15px auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_heading{
  font-size: 20px;
  font-weight: 700;
  color: #2F3841;
}
.cart_action{
  font-size: 14px;
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
  border-bottom: 1px solid #E44C4C;
}

.shopping__cart__checkout {
  margin: 50px 2.5% 25px auto;
  width: 30%;
}

.cart_total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total {
  font-size: 20px;
  font-weight: 700;
  color: #202020;
}

.amount_items {
  font-size: 14px;
  font-weight: 500;
  color: #909090;
  line-height: 10px;
}

.total_amount {
  font-size: 30px;
  font-weight: 900;
  color: #202020;
}

.pay_btn {

}


