.course-page{
    width: 1200px;
    margin: 50px auto 50px;
    height: 100%;
    display: block;
    border: 2px #6675bc solid;
    color: #FFFFFF;
    border-radius: 30px;
}

.course__title {
    padding: 20px 30px;
    background-color: #6675bc;
    border-radius: 29px 29px 0 0;
}

.course__title h1 {
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid #6675bc;
    margin-bottom: 10px;
}

.course__desc {
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-course-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.course__details {
    display: flex;
}

.course__price {
    display: flex;
    align-items: center;
}

.course__evaluation {
    padding-right: 40px;
}

.course__evaluation span {
    color: #ee9a46;
    font-size: 1em;
}

.course__price h2{
    text-align: center;
    padding-right: 20px;
}

.video-lesson-content {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 50px 30px;
}

.video-player-wrapper {
    border: 1px solid #8691ca;
    height: 330px;
    text-align: center;
    color: #8691ca;
    border-radius: 50px;
    margin-top: 20px;
}

.content-header {
    background-color: #8691ca;
    padding: 10px 20px;
    font-size: 1em;
    color: #FFFFFF;
    border-radius: 50px;
}

.lessons-container, .video-player-container {
    width: 500px;
}



ol {
    counter-reset: li;
    list-style: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em;
}

.rounded-list li{
    position: relative;
    display: block;
    padding: 10px 10px 10px 30px;
    margin: 10px 0;
    background: #e0e3f1;
    color: #444;
    text-decoration: none;
    border-radius: 7px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.rounded-list li:hover{
    background: #eff1f8;
}

.rounded-list li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #7582c2;
    color: #fff;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.check-icon{
    width: 20px;
}
