.message-error-wrapper {
    text-align: center;
    background-color: rgb(252, 235, 226);
    padding: 15px 0;
    border-radius: 10px;
    border-left: 4px solid rgb(77, 98, 67);
    border-right: 4px solid rgb(77, 98, 67);
    margin-top: 15px;
}
.message-error {
    width: 100%;
    color: rgb(143, 34, 27);
    font-size: 15px;
}

.message-success-wrapper {
    text-align: center;
    background-color: rgb(235, 252, 226);
    padding: 15px 0;
    border-radius: 10px;
    border-left: 4px solid rgb(34, 207, 115);
    border-right: 4px solid rgb(34, 207, 115);
    margin-top: 15px;
}
.message-success {
    width: 100%;
    color: rgb(27, 143, 64);
    font-size: 15px;
}
