.message-success-wrapper {
  background-color: rgb(235, 252, 226);
  padding: 15px 0;
  border-radius: 10px;
  border-left: 4px solid rgb(34, 207, 115);
  border-right: 4px solid rgb(34, 207, 115);
  margin-top: 15px;
}
.message-success {
  width: 100%;
  color: rgb(27, 143, 64);
  font-size: 15px;
}