input{
    width: 100%;
    padding: 12px 0;
    margin: 20px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: none;
    border-bottom: 1px solid #a8a8a8;
    font-size: 18px;
    color: #8d8d8d;
}

.edit__btn{
    background: transparent;
}

.edit__btn.active{
    background: #ee9a46;
    border-radius: 50px;
}

.edit__container{
    padding: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.leftMenu__wrapper {
    padding: 0 50px;
}

.btn__menu{
    line-height: 10px;
    margin-top: 50px;
}

.save__btn, .reset__btn{
    width: 50%;
}

.profile__icon{
    border-radius: 50%;
    background-color: #ee9a46;
    width: 140px;
    height: 140px;
    cursor: default;
    display: flex;
    margin-right: 10px;
    color: #4d6243;
    font-weight: 400;
    font-size: 60px;
}

.profile__title{
    text-align: center;
    font-weight: lighter;
    font-size: 22px;
}

.profile__subtitle{
    text-align: center;
    font-weight:  inherit;
    font-size: 18px;
    padding: 10px;
}

.profile__info{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}

.uploadButton {
    display: block;
    width: 140px;
    background: #ee9a46;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.uploadButton div{
    color: #00097d;
}

.input-wrapper {
    position: relative;
    margin: 30px auto;
}
.form-control {
    display: block;
    line-height: 2em;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    font-size: 16px;
}

.control-label {
    display: block;
    position: absolute;
    opacity: 0;
    bottom: 1.9rem;
    color: #5d5d5d;
    transition: 0.2s ease-in-out transform;
    font-size: 14px;
}

.form-control:placeholder-shown + .control-label {
    visibility: hidden;
    z-index: -1;
    transition: 0.2s ease-in-out;
}

.form-control:not(:placeholder-shown) + .control-label,
.form-control:focus:not(:placeholder-shown) + .control-label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transform: translateY(-25px);
    transition: 0.2s ease-in-out transform;
}

