.page__content{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

input{
    width: 100%;
    padding: 12px 0;
    margin: 20px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: none;
    border-bottom: 1px solid #a8a8a8;
    font-size: 18px;
}

.page__title{
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
}

.rightMenu__wrapper input {
    color: white;
}

.rightMenu__wrapper input::placeholder{
    color: #cacaca;
}

.edit__btn{
    background: transparent;
}

.edit__btn.active{
    background: #8691ca;
    border-radius: 50px;
}

.edit__container{
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.leftMenu__wrapper {
    padding: 0 30px;
}

.rightMenu__wrapper {

}

.btn__menu{
    line-height: 10px;
}

.save__btn, .reset__btn{
    width: 50%;
}

.profile__icon{
    border-radius: 50%;
    background-color: #6675bc;
    width: 140px;
    height: 140px;
    cursor: default;
    display: flex;
    margin-right: 10px;
    color: #4d6243;
    font-weight: 400;
    font-size: 60px;
}

.profile__title{
    font-weight: inherit;
    font-size: 22px;
    margin-bottom: 12px;
}

.profile__info {
    margin-right: 10px;
    text-align: center;
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 8px;
    background: #8691ca;
    margin-bottom: 10px;
}

.uploadButton {
    display: block;
    width: 140px;
    background: #6675bc;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.uploadButton div{
    color: #00097d;
}

.input-wrapper {
    position: relative;
    margin: 30px auto;
}
.form-control {
    display: block;
    line-height: 2em;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    font-size: 16px;
}

.control-label {
    display: block;
    position: absolute;
    opacity: 0;
    bottom: 1.9rem;
    color: #cacaca;
    transition: 0.2s ease-in-out transform;
    font-size: 14px;
}

.form-control:placeholder-shown + .control-label {
    visibility: hidden;
    z-index: -1;
    transition: 0.2s ease-in-out;
}

.form-control:not(:placeholder-shown) + .control-label,
.form-control:focus:not(:placeholder-shown) + .control-label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transform: translateY(-25px);
    transition: 0.2s ease-in-out transform;
}

.photo__wrapper .edit__pencil__btn {
    background-color: #6675bc;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    left: calc(100% - 40px);
    bottom: calc(100% - 140px);
    /*background-image: url(./src/assets/img/edit-svgrepo-com.svg);*/
}

.svg-color{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg) brightness(108%) contrast(108%);
    cursor: pointer;
}

.svg-color:hover{
    opacity: 0.8;
}

.svg-color.active{
    filter: brightness(0) saturate(100%) invert(93%) sepia(2%) saturate(757%) hue-rotate(212deg) brightness(111%) contrast(58%);
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #8691ca;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;

    font-size: 14px;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -100px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

