.auth__form input{
    width: 100%;
    padding: 12px 0;
    margin: 20px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: none;
    border-bottom: 1px solid #a8a8a8;
    font-size: 18px;
    color: #fff;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 14px;
    color: #a8a8a8;
}

button {
    background-color: #4d6243;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
}

.buttons {
    margin: 50px auto;
    text-align: center;
    border-radius:30px;
}

.btns__wrapper {
    display: flex;
}

.reg__btn{
    margin: 15px 0;
    color: #b8b8b8;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #4d6243;
}

.reg__btn.active {
    color: #fff;
    border-bottom: 3px solid #ee9a46;
}

.auth__btn {
    margin-top: 40px;
    background: #ee9a46;
    width: 150px;
    border-radius: 50px;
}

.btn__block{
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    opacity: 0.8;
}

.auth__title_wrapper {
    margin-bottom: 20px;
}

.auth__title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 2px;
}

.auth__undertitle {
    display: block;
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    margin-top: 5px;
    letter-spacing: 3px;
}

.container {
    width: 400px;
    padding: 10px 0 0 0;
    margin: 0;
    border-radius: 30px;
    text-align: center;
}

span{
    color: #4d6243;
    font-size: x-large;
}

.course__item {
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px 20px;
}

h2, h3, p, .course__item{
    text-align: left;
}

.course__name {
    font-size: large;
}

.item__wrapper{
    margin-right: 50px;
}

.courses__container{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.item__wrapper:nth-child(4n) {
    margin-right: 0;
}

