input{
    width: 100%;
    padding: 12px 0;
    margin: 20px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: none;
    border-bottom: 1px solid #a8a8a8;
    font-size: 18px;
    color: #8d8d8d;
}

.edit__btn{
    display: inline;
    margin: 0;
    background-color: #fff;
    color: #4d6243;
    width: auto;
    padding: 10px 15px;
}

.edit__btn.active{
    color: #000;
    border-bottom: 3px solid #ee9a46;
}

.edit__container{
    width: 600px;
    padding: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn__menu{
    line-height: 10px;
}

.save__btn, .reset__btn{
    width: 50%;
}

.profile__icon{
    border-radius: 50%;
    background-color: #ee9a46;
    width: 140px;
    height: 140px;
    cursor: default;
    display: flex;
    margin-right: 10px;
    color: #4d6243;
    font-weight: 400;
    font-size: 60px;
}

.profile__title{
    text-align: center;
    font-weight: lighter;
    font-size: 22px;
}

.profile__subtitle{
    text-align: center;
    font-weight:  inherit;
    font-size: 18px;
    padding: 10px;
}

.profile__info{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}




